{
    "useTabs": false, // использовать табы? нет (я за пробелы)
    "printWidth": 80, // длина строки - 80
    "tabWidth": 2, // длина "таба" - 2 пробела
    "singleQuote": true, // использовать одинарные кавычки - да!
    "trailingComma": "es6", // запятая в последней строке - да
    "semi": true // точка с запятой - нет
}